# MANUAL: https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt


# Snippet that invokes a command
snippet today "Date"
`date +%F`
endsnippet

# Snippet that executes python commands
snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet

