#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ChatGPT
Exec=google-chrome --profile-directory=Default --app-id=cadlkienfkclaiaibeoongdcgmdikeeg
Icon=chrome-cadlkienfkclaiaibeoongdcgmdikeeg-Default
StartupWMClass=crx_cadlkienfkclaiaibeoongdcgmdikeeg
