configuration {
}

//@theme "cwl-dark"
@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/home/cawal/git/cwl-dotfiles/rofi/launchpad.rasi"
@theme "/home/cawal/git/cwl-dotfiles/rofi/squared-nord.rasi"

