configuration {
    monitor: 0; // Set the monitor to display the menu on (0 for primary monitor)
}

//@theme "cwl-dark"
@theme "sidebar"  // No NixOS, usar nome relativo ou caminho completo
//@theme "/home/cawal/git/cwl-dotfiles/rofi/launchpad.rasi"
//@theme "/home/cawal/git/cwl-dotfiles/rofi/squared-nord.rasi"

