configuration {
    monitor: 0; // Set the monitor to display the menu on (0 for primary monitor)
}

//@theme "cwl-dark"
@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/home/cawal/git/cwl-dotfiles/rofi/launchpad.rasi"
@theme "/home/cawal/git/cwl-dotfiles/rofi/squared-nord.rasi"

